@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
.fugaz {
    font-family: 'Fugaz One', cursive;
}
.w120{
    width:120px;
}
.jumbotron {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}

.ib{
    display:inline-block;
}