@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    background:#c0c0c059;
    /* font-family: 'Roboto', sans-serif; */
    font:normal x-small verdana,arial,helvetica,sans-serif;
}
h1{
    font-size: initial;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
    color:black;
}
#my-text-field{
    margin:0 auto;
}